:root {
    --border-color: #fffbfe;
    --cross-color: #a31621;
    --naught-color: #19647e;
    --finished-color: #69656a;
}

.root {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    border: 3px solid var(--border-color);
    font-family: Montserrat, sans-serif;
    font-size: 100px;
}

.finished {
    border-color: var(--finished-color);
}

.cross {
    color: var(--cross-color);
}

.cross.finished {
    color: var(--finished-color);
}

.naught {
    color: var(--naught-color);
}

.naught.finished {
    color: var(--finished-color);
}

.top {
    border-top: none;
}
.bottom {
    border-bottom: none;
}
.left {
    border-left: none;
}
.right {
    border-right: none;
}
