.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.inner {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 12px;
}

.top {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.link {
    color: #fffbfe;
    padding: 6px;
}

.heading {
    font-size: 36px;
}
