.root {
    display: flex;
    flex-direction: column;
}

.inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 12px;
}

.top {
    display: flex;
    justify-content: space-between;
}

.topLeft {
    display: flex;
    align-items: start;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    user-select: none;
}

.heading {
    font-size: 32px;
    margin: 0 30px 0 6px;
    user-select: none;
    line-height: 31px;
}

.button {
    composes: button from "../../pages/Home/Home.css";
}

.naught {
    composes: naught from "../GridItem/GridItem.css";
}

.cross {
    composes: cross from "../GridItem/GridItem.css";
}

.turnInfo {
    margin-right: 70px;
}
