.root {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
    position: relative;
    user-select: none;
    /* height: 100%; */
}

.row {
    display: flex;
    flex: 1;
}
